{% args gpio %}
<!-- 
    The above {% args gpio %} is required by the utemplate engine used by Microdot,
    and it must be the first line in the file.
    
    It defines the arguments used in the page. If it is missing you will receive
    the error "NameError: name 'gpio' isn't defined" on the terminal console as you load
    this page in a browser.

    In microdot_server_pico.py the following code snippet is where the gpio argument is passed to this page:
    
    async def index(request):
        return Template('index_ws_client.html').render(gpio=LED_GPIO), {'Content-Type': 'text/html'}
-->
<!DOCTYPE html>
<html>

<head>
    <title>Microdot Web Socket Example</title>
    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript">

        const socket = new WebSocket('ws://' + location.host + '/led')           // (X)

        socket.addEventListener('open', ev => {                                // (X)
            console.log("Connected to Server")
            $("#connected").html("Yes")

            // Initialise web page controls.
            // Send empty JSON object and server will respond with the current.
            // brightness level.
            socket.send("{}")
        })

        socket.addEventListener('closed', ev => {                                // (X)
            console.log("Disconnected from the Server")
            $("#connected").html("No")
        })

        socket.addEventListener('message', ev => {                                // (X)
            dataFromServer = ev.data
            console.log(dataFromServer)

            data = JSON.parse(dataFromServer) // string to JSON Object.

            if (data.level !== undefined) {
                $("input[type=range].brightnessLevel").val(data.level)
                $("#brightnessLevel").html(data.level)
            }
        })

        $(document).ready(function () {                                        // (X)
            // Event listener for Slider value changes.
            $("input[type=range].brightnessLevel").on('input', function () {
                level = parseInt($(this).val())
                payload = JSON.stringify({ "level": level })
                socket.send(payload)
            })
        });
    </script>
</head>

<body>
    <h1>Microdot Web Socket Example</h1>
    LED is connected to GPIO {{gpio}}<br>
    Connected to server: <span id="connected">No</span> <!-- (7) -->
    <br><br>
    Brightness <span id="brightnessLevel"></span>:<br>
    <input type="range" min="0" max="100" value="0" class="brightnessLevel">
</body>

</html>